<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gantt</title>


<script type='text/javascript'
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="javascript/jquery.min.js"></script>
<script type='text/javascript'
	src="http://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
<script type='text/javascript'
	src="http://cdn.jsdelivr.net/angular.moment/latest/angular-moment.min.js"></script>
<script type='text/javascript'
	src="http://cdnjs.cloudflare.com/ajax/libs/moment-range/2.1.0/moment-range.min.js"></script>


<script type='text/javascript'
	src="http://rawgit.com/JimLiu/angular-ui-tree/master/dist/angular-ui-tree.js"></script>
<link rel="stylesheet" type="text/css"
	href="http://rawgit.com/angular-ui-tree/angular-ui-tree/master/dist/angular-ui-tree.min.css">

<script type='text/javascript'
	src="http://rawgit.com/ganarajpr/angular-dragdrop/master/draganddrop.js"></script>

<script type='text/javascript'
	src="http://rawgit.com/marcj/css-element-queries/master/src/ElementQueries.js"></script>
<script type='text/javascript'
	src="http://rawgit.com/marcj/css-element-queries/master/src/ResizeSensor.js"></script>

<!-- <link rel="stylesheet" type="text/css"
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="css/chat.css" />

<script type='text/javascript'
	src="//cdn.jsdelivr.net/angular.gantt/1.2.11/angular-gantt.min.js"></script>
<script type='text/javascript'
	src="//cdn.jsdelivr.net/angular.gantt/1.2.11/angular-gantt-plugins.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="//cdn.jsdelivr.net/angular.gantt/1.2.11/angular-gantt.min.css">
<link rel="stylesheet" type="text/css"
	href="//cdn.jsdelivr.net/angular.gantt/1.2.11/angular-gantt-plugins.min.css">
<script src="javascript/atmosphere.js"></script>
<script src="javascript/angular-atmosphere-service.js"></script>
<script src="javascript/application.js"></script>
<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet"> -->
<link rel="stylesheet"
	href="https://cgross.github.io/angular-notify/dist/angular-notify.css">
<script type='text/javascript'
	src="https://cgross.github.io/angular-notify/dist/angular-notify.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
<!-- <script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script> -->
<script src="javascript/signature/signature.js"></script>

<link rel="stylesheet" type="text/css"
	href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">
<script
	src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>

<script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/react@15.2.1/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15.2.1/dist/react-dom.js"></script>
<script src="https://ololoepepe.me/files/literallycanvas.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://ololoepepe.me/files/literallycanvas.css">




</head>

<body onbeforeunload="ConfirmClose()" onunload="HandleOnClose()">
	<div data-ng-app="ganttUpdate"
		data-ng-controller="angularGanttCtrl as m">
		<div id="exTab3">
			<ul class="nav nav-pills">
				<li class="active"><a href="#4b" data-toggle="tab">Gally</a></li>
				<li><a href="#1b" data-toggle="tab">Gantt Chart</a></li>
				<li><a href="#2b" data-toggle="tab">Signature</a></li>
				<li><a href="#3b" data-toggle="tab">Grid</a></li>
			</ul>

			<div class="tab-content clearfix">

				<!------------------------------------------------------------ Gantt Component ---------------------------------------------------------------->
				<div class="tab-pane" id="1b">
					<div gantt data="data" api="registerApi">
						<gantt-movable enabled="disableEdit"></gantt-movable>
					</div>
					<!-- <em>{{updateData()}}</em> -->
					<button ng-click="edit()" ng-disabled="disableEdit">Edit</button>
					<button ng-click="save()" ng-disabled="disableSave">Save</button>
				</div>

				<!-------------------------------------------------------------- Signature Component ------------------------------------------------------->
				<div class="tab-pane" id="2b">
					<!-- Signature Component -->
					<div class="container">
						<signature-pad accept="accept" clear="clear" height="220"
							width="568" dataurl="dataurl"></signature-pad>
						<div class="buttons">
							<button ng-click="clear()">Clear</button>
							<button ng-click="dataurl = signature.dataUrl"
								ng-disabled="!signature">Reset</button>
							<button ng-click="signature = accept()">Sign</button>
							<button ng-click="check()">Check</button>
						</div>
					</div>
					<div class="result" ng-show="signature">
						<img ng-src="{{ signature.dataUrl }}">
					</div>
				</div>


				<!-------------------------------------------------------------- UI-Grid Component ------------------------------------------------------->
				<div class="tab-pane" id="3b">
					<button ng-click="hideColumns()">Hide Colum First Name</button>
					<button ng-click="showColumns()">Show Colum First Name</button>
					<button ng-click="disableFirstName()">Disable First Name</button>
					<br /> <br />
					<div ui-grid="gridOptions" ui-grid-edit ui-grid-cellnav
						ui-grid-move-columns ui-grid-resize-columns ui-grid-exporter
						class="grid"></div>
				</div>

				<!--------------------------------------------------------------Gally Sample Component ------------------------------------------------------->
				<div class="tab-pane active" id="4b">
					<div class="my-drawing"></div>
					<button ng-click="reply_click()">Get Gally Data</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>